@model Work
<div id="form-wrapper">
    <form action="@Url.Action("Edit","Work")" method="post" enctype="multipart/form-data">
        <select hidden multiple name="Photos" id="photos">
        </select>
        <select hidden multiple name="DeletePhotos" id="delete-photos">
        </select>
        <input type="text" hidden name="WorkId" value="@Model.Id" />
        <div class="my-5 image-upload">
            <label>Upload Photo</label>
            <input class="photo-upload-input" type="file" data-single="true" value="" />
        </div>
        <div class="image-view">
            <ul class="d-flex">
                <li>
                    <span class="btn btn-danger delete-photo-button">Sil</span>
                    <img data-delete="true" data-name="@Model.Photo" src="~/Uploads/Works/@Model.Photo" alt="Alternate Text" />
                </li>
            </ul>
        </div>
        <div class="form-group">
            <button type="button" data-path="Works" class="submit-button btn btn-block btn-danger">Edit</button>
        </div>
    </form>
</div>

