@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ADMIN DASHBOARD</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto mt-5">
                
            </div>
        </div>
    </div>
</body>
</html>


<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from colorlib.com/etc/lf/Login_v10/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 Feb 2021 17:55:45 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <title>Login V10</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="~/Admin/login/images/icons/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="~/Admin/login/vendor/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/Admin/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="~/Admin/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">

    <link rel="stylesheet" type="text/css" href="~/Admin/login/vendor/animate/animate.css">

    <link rel="stylesheet" type="text/css" href="~/Admin/login/vendor/css-hamburgers/hamburgers.min.css">

    <link rel="stylesheet" type="text/css" href="~/Admin/login/vendor/animsition/css/animsition.min.css">

    <link rel="stylesheet" type="text/css" href="~/Admin/login/vendor/select2/select2.min.css">

    <link rel="stylesheet" type="text/css" href="~/Admin/login/vendor/daterangepicker/daterangepicker.css">

    <link rel="stylesheet" type="text/css" href="~/Admin/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/login/css/main.css">

</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-50 p-b-90">
                <form action="/Admin/Account/Login" method="post" class="login100-form validate-form flex-sb flex-w">
                    <span class="login100-form-title p-b-51">
                        İdarə panelinə giriş
                    </span>
                    <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">
                        <input class="input100" type="email" id="Email" name="Email" placeholder="E-poçt">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                        <input class="input100" type="password" id="Password" name="Password" placeholder="Şifrə">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn">
                            Daxil ol
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="dropDownSelect1"></div>

    <script src="~/Admin/login/vendor/jquery/jquery-3.2.1.min.js"></script>

    <script src="~/Admin/login/vendor/animsition/js/animsition.min.js"></script>

    <script src="~/Admin/login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Admin/login/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/Admin/login/vendor/select2/select2.min.js"></script>

    <script src="~/Admin/login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Admin/login/vendor/daterangepicker/daterangepicker.js"></script>

    <script src="~/Admin/login/vendor/countdowntime/countdowntime.js"></script>

    <script src="~/Admin/login/js/main.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-23581568-13');
    </script>
</body>

<!-- Mirrored from colorlib.com/etc/lf/Login_v10/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 Feb 2021 17:55:49 GMT -->
</html>

