@model List<Contact>
<div id="main-wrapper">
    <h2>Əlaqələr</h2>
    <table class="table table-light table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Ad</th>
                <th>E-poçt</th>
                <th>Mesaj</th>
                <th>Tarix</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Contact contact in Model)
            {
            <tr>
                <td>@contact.Name</td>
                <td>@contact.Email</td>
                <td>
                    @contact.Message
                </td>
                <td>
                    @contact.CreatedDate
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>